* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.15;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    /*background-color: #f2f2f2;*/
}

.section {
    float: left;
    width: 100%;
}
.container {
    width: 1400px;
    margin: 0 auto;
    /*background-color: rgb(242, 242, 242);*/
}

.categories {
    float: left;
    width: 100%;
}

.product {
    float: left;
    width: 100%;
    border: 1px solid rgb(79, 182, 141);
    margin-bottom: 30px;
}
.image {
    float: left;
    width: 30%;
    height: auto;
    text-align: center;
}

.content {
    float: right;
    width: 70%;
    height: auto;
    text-align: left;
    padding: 15px;
}

.graphicCorner {
    color: rgb(161, 161, 161);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}

.productTittle {
    color: rgb(37, 50, 55);
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.productTittle:hover {
    color: rgb(79, 182, 141);
    transition: all 300ms;
}

.rate {
    margin-bottom: 30px
}

.fa-star {
    color: rgb(241, 205, 50);
}

.price {
    color: rgb(150, 150, 150);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px
}

.productContent {
    color: rgb(135, 135, 135);
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 30px
}

.availability {
    color: rgb(135, 135, 135);
    font-weight: 300;
    margin-bottom: 90px
}

.availability_1 {
    float: left;
    margin-right: 4px;
}

.availability_2 {
    float: left;
    color: rgb(79, 182, 141);
    font-weight: 600;
}

.addToCart {
    color: rgb(37, 50, 55);
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
    float: left;
    margin-right: 90px;
}

.addToCart:hover {
    color: rgb(79, 182, 141);
    transition: all 300ms;
}

.footerIcons {
    float: left;
}


