body{
    background-image: linear-gradient(to left , lightskyblue, lightsteelblue);

    padding-left: 15%;
    padding-right: 20%;
    padding-top: 10%;

    width: auto;
    height: 800px;


    font-family: sans-serif;
    font-size:14px;
    font-weight: 200;
    line-height: 1.5;
}

h4 {
    font-weight: bold;
}

#upper {
    text-align: center;
    padding: 5%;
    width: 100%;
    background-color: rgb(188, 194, 202);
}

#inner\ upper {
    margin-left: 350px;
    text-align: left;
}

#inner\ right {
    margin-left: 350px;
    text-align: justify;
}

#right {
    text-align: center;
    padding: 5%;
    width: 100%;
    background-color: white;
}


#left {
    padding: 30px;
    background-color: rgb(232, 232, 232);
    width: 25%;
    margin-top: -940px;
    margin-left: 40px;
}


#profile{
    border-radius: 100%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div img {
    width: 10%;
}


